{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>error</title>
</head>
<body>
<h2 style="text-align: center; padding: 2rem; margin: 3rem">
    Error 400
</h2>
<h3 style="text-align: center; padding: 2rem; margin: 3rem">
    {{ error }}
</h3>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 2rem;">
    <a class="link" href="{% url 'login' %}">Login page</a>
    <a class="link" href="{% url 'login' %}">Signup page</a>
    <a class="link" href="{% url 'home' %}">Home page</a>
</div>
{% endblock %}
</body>
</html>